$darkBlue: rgb(40, 44, 52);
$blue: rgb(97, 218, 251);
$w: rgb(255, 255, 255);
$perfectGrey: rgb(243, 243, 241);
$purpleOne: #c33764; /* fallback for old browsers */
$purpleGradient: -webkit-linear-gradient(to right, #1d2671, #c33764); /* Chrome 10-25, Safari 5.1-6 */
$purpleGradient2: linear-gradient(
    to right,
    #1d2671,
    #c33764
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$lightOrange: #ffafbd; /* fallback for old browsers */
$lightGradient: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd); /* Chrome 10-25, Safari 5.1-6 */
$lightGradient2: linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 40vh auto;
}

.ride-page-top {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: #333;

    .ride-header {
        // width: 100%;
        font-family: 'Lato', sans-serif;
        align-self: center;
        color: $perfectGrey;
        text-align: center;
        margin-left:40%;
        h1 {
            font-size: 4rem;
            font-weight: 400;
        }
        h3 {
            font-size: 1.5em;
            font-weight: 100;
        }
    }

    .circle {
        background-color: lavender;
        height: 40vh;
        width: 20vh;
        border-radius: 50%;

        .inside-circle {
            margin-top: 15vh;
            margin-left: -15vw;
            height: 20vh;
            width: 40vh;
            background-color: rgb(243, 157, 157);
            border-radius: 50%;
        }
    }
}

.ride-page-cities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding-top: 10vh;
    // .ride-page-cities {
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     grid-gap: 2%;
    //     justify-items: center;
    //     cursor: pointer;
    // }
}

.current-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    background-color: $perfectGrey;

    h1 {
        color: $purpleOne;
    }

    h3 {
        font-weight: 400;
    }
}

#button {
    cursor: pointer;
    box-sizing: border-box;
    grid-column: 1 / 3;
    width: 100%;
    margin-top: 10px;
    padding: 20px 0;
    border: none;
    background-color: $purpleOne;
    color: $w;
    border: $purpleOne solid 3px;
    font-size: 1.1em;
    border-radius: 40px;
    transition: 300ms;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);

    &:hover {
        transition: 300ms;
        background-color: $w;
        color: $purpleOne;
        border: $purpleOne solid 3px;
    }

    &:focus {
        outline: none;
    }
    &:disabled {
        background-color: gray;
        border: gray;
    }
}

.width-control-ride{
    width: 20vw;
    margin: auto;
    margin-top: 4rem;
}

@media screen and (max-width:600px) {
    .circle{
        display: none;
    }
    .width-control-ride{
        width: 60%;
    }
    
}
