.carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.carModule{
    border-radius: 10px/10px;
    margin:10px 20px;
    box-shadow: 0 0 10px #c33764; 
    width: 25%;
    
    *{
        padding-left: 20px
    };
}

.widthControl{
    width: 80%;
    padding-bottom: 20px;
}

@media screen and (max-width:600px) {
    .carModule{
        width: 100%;
    }
}